extends layout

block header
  ul.nav.nav-pills.nav-justified
    li(role='presentation', class='active')
      a(href='#') All notes
    li(role='presentation')
      a(href='#') #{__('title')}

block content
  div.col-sm-6
  div.col-sm-6
