doctype html
html(ng-app='notesApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


    script(src='javascripts/require.js', data-main='javascripts/application')
  body
    div.container-fluid
      div.header
        block header
      div.content
        block content
      div.footer
        block footer