doctype html
html(ng-module="app")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


    script(src='javascripts/lib/require.js', data-main='javascripts/main')
  body(ng-controller="notesController")
    div.container-fluid {{title}}
      div.header
        block header
      div.content
        block content
      div.footer
        block footer